.container {
  display: flex;
  position: relative;
}

.dropdown {
  padding: 10px;
  background-color: var(--background-side);
  position: absolute;
  top: 35px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
  border-radius: 5px;
}
