.Button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.Button {
  outline: none;
  border: none;
}

.Button.SignBtn {
  background: #3ab395;
  color: white;
  width: 150px;
  padding: 5px;
  font-size: 1.6em;
  border-radius: 20px;
  margin-top: 20px;
}

.Button.SignBtn img {
  width: 40px !important;
  height: 27px !important;
}

.Button.AuthSideBtn {
  background: #3aa9ab;
  color: white;
  width: 150px;
  border: 2px solid white;
  padding: 5px;
  font-size: 1.6em;
  border-radius: 20px;
}

.Button.PerformBtn {
  background: #3aa9ab;
  color: white;
  width: 140px;
  border: 2px solid white;
  padding: 5px;
  font-size: 1.6em;
  border-radius: 20px;
}

.Button.PerformBtn img {
  width: 40px !important;
  height: 27px !important;
  object-fit: contain !important;
  margin: 0 !important;
}

.Button.SocialBtn {
  margin: 0 10px;
}

.Button.SocialBtn img {
  width: 35px !important;
  height: 35px !important;
  object-fit: cover;
  cursor: pointer;
}

.Button.createGroupBtn {
  background: #3aa9ab;
  color: white;
  width: 150px;
  border: 2px solid white;
  padding: 5px;
  font-size: 1.6em;
  border-radius: 20px;
  margin-bottom: 8px;
  margin: auto;
}

.Button.videoCallBtn,
.Button.endVideoCallBtn {
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
  font-size: 16px;
  width: 100px;
  margin: 0 10px;
  height: 40px;
  margin-top: 15px;
}

.Button.endVideoCallBtn {
  background-color: rgb(192, 33, 33);
  color: white;
}

.Button.AcceptBtn,
.Button.answerCallBtn {
  width: fit-content;
  padding: 5px 40px;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  margin: auto;
  font-size: 16px;
  transition: all 0.3s linear;
  cursor: pointer;
  height: 40px;
}

.Button.AddUserBtn:hover {
  opacity: 0.8;
}

.Button.RejectBtn {
  width: fit-content;
  padding: 5px 40px;
  background-color: rgba(255, 0, 0, 0.736);
  color: white;
  border-radius: 5px;
  margin: auto;
  font-size: 16px;
  transition: all 0.3s linear;
  cursor: pointer;
  margin-right: 15px;
  height: 40px;
}

.Button.ProfileBtn {
  cursor: pointer;
  background-color: var(--background-side);
  color: var(--text-secondary);
  padding: 5px 15px;
  font-size: 16px;
  width: fit-content;
  margin-bottom: 15px;
}

.Button.RejectBtn:hover {
  opacity: 0.8;
}

.Button.AcceptBtn img,
.Button.RejectBtn img,
.Button.answerCallBtn img,
.Button.endVideoCallBtn img,
.Button.Button.videoCallBtn img {
  width: 40px !important;
  height: 40px !important;
  padding: 5px 0;
}

.Button.createGroupBtn img {
  width: 40px !important;
  height: 27px !important;
}

.Button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 600px) {
  .Button.PerformBtn {
    font-size: 13px !important;
  }

  .Button.PerformBtn img {
    width: 30px !important;
    height: 22px !important;
  }
}

@media (max-width: 350px) {
  .Button.filter {
    width: 60px;
    margin: 10px 0;
  }
}
