.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 15px;
  background-color: var(--chatUserBg);
  border-bottom: 1px solid rgba(0, 0, 0, 0.198);
  cursor: pointer;
  transition: all 0.5s ease;
}

.container:hover {
  opacity: 0.9;
}

.container span {
  font-size: 14px;
  color: #a8a8a8;
}

.group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.group img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
}

.group2 {
  display: flex;
  flex-direction: column;
}

.group2 h4 {
  font-size: 16px;
  color: var(--text-primary);
  font-weight: 400;
  margin-bottom: 3px;
}

.group2 p {
  font-size: 15px;
  color: #a8a8a8;
}

.group3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.group3 :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 20px;
  border-radius: 50%;
  background-color: #efaa86;
  color: white;
  padding: 5px;
  padding-top: 7px;
  margin-top: 8px;
}
