.container {
  display: flex;
  margin: 25px 0;
  padding: 0 15px;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
}

.content {
  display: flex;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
  background-color: var(--background-side);
  border-radius: 7px;
}

.container2 .group {
  background-color: transparent;
}

.container .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.container p {
  cursor: pointer;
}

.container p {
  font-size: 15px;
  word-break: break-all;
  width: fit-content;
  text-align: justify;
  color: var(--text-primary);
}

.container span {
  font-size: 14px;
  color: var(--text-secondary);
}

.group .img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
  max-width: 80%;
  max-height: 80%;
}

.options {
  background-color: var(--background-side);
  border-radius: 5px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  margin-right: 15px;
  z-index: 50;
}

.option {
  font-size: 16px !important;
  color: var(--text-primary) !important;
  cursor: pointer;
  padding: 3px 25px;
  transition: all 0.3s ease;
}

.option:hover {
  background-color: var(--background);
}

.replyContainer {
  margin-bottom: 15px;
}

.replyContainer h4 {
  color: var(--text-primary);
  padding-bottom: 5px;
  font-size: 14px;
  border-bottom: 1px solid var(--text-secondary);
}

.replyContainer img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  max-width: 300px;
  border-bottom: 1px solid var(--accent);
  padding-bottom: 15px;
}

.replyGroup {
  background-color: var(--background-side);
  padding: 10px 12px;
  border-radius: 5px;
}

.container .replyDocumentGroup {
  display: flex;
  align-items: center;
}

.replyDocumentGroup h4 {
  margin-left: 5px;
}

.replyContainer h4,
.replyContainer audio,
.replyContainer img {
  cursor: pointer !important;
}

@media (max-width: 900px) {
  .container {
    padding: 0 5px;
  }

  .group .img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
    max-width: 30%;
  }

  .replyContainer img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    max-width: 100px;
    border-bottom: 1px solid var(--accent);
    padding-bottom: 15px;
  }
}
