.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  background-color: #fdfdfd;
  border-bottom: 1px solid rgba(0, 0, 0, 0.198);
  margin: 0 6px;
  border-radius: 5px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.container .group {
  display: flex;
  align-items: center;
  margin-left: 10px;
  flex: 3;
}

.container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
}

.container h4 {
  font-size: 16px;
  color: black;
  font-weight: 400;
}

@media (max-width: 600px) {
  .container img {
    width: 40px;
    height: 40px;
  }

  .container h4 {
    font-size: 13px !important;
  }
}
