.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--background);
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 900px) {
  .container {
    display: block;
  }
}
