.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container img {
  object-fit: contain !important;
  height: 300px !important;
  max-width: 90% !important;
  width: auto !important;
}

.container span {
  font-size: 25px;
}

.group {
  display: flex;
  margin-top: 15px;
}
