.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.group {
  display: flex;
  margin-top: 25px;
  align-items: center;
}

.group * {
  margin: 0 10px;
}
