.CheckContainer label {
    margin-right: 8px;
}

.CheckContainer {
    display: flex;
    align-items: center;
}

.CheckContainer.AddOfficeCheckField {
    margin: 12px 12px 12px auto;
}

.CheckContainer.SelectCheckField {
    margin: 0;
    justify-content: center;
}


.CheckContainer.AddOfficeCheckField .Checkbox.AddOfficeCheckbox,
.CheckContainer.SelectCheckField .Checkbox.SelectCheckbox {
    background: whitesmoke;
    border: 2px solid #727174;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 25px !important;
    height: 25px !important;
    appearance: none;
    border-radius: 10%;
    box-shadow: none;
}

.CheckContainer.SelectCheckField .Checkbox.SelectCheckbox {
    background: white;
    border: 2px solid #727174;
}

/*.CheckContainer.AddDoctorCheckField .Checkbox.AddDoctorCheckbox:checked,*/
/*.CheckContainer.AddOfficeCheckField .Checkbox.AddOfficeCheckbox:checked,*/
/*.CheckContainer.TableFilterCheckField .Checkbox.TableFilterCheckbox:checked {*/
/*    background: #041d29;*/
/*}*/

/*.CheckContainer.SelectCheckField .Checkbox.SelectCheckbox:checked {*/
/*    background: whitesmoke;*/
/*}*/

.CheckContainer.AddOfficeCheckField .Checkbox.AddOfficeCheckbox:checked::after {
    content: '\2714';
    color: black;
    font-size: 17px;
    font-weight: bolder;
}

.CheckContainer.SelectCheckField .Checkbox.SelectCheckbox:checked::after {
    content: '\2714';
    color: black;
    font-size: 16px;
    font-weight: bolder;
}

.Checkbox.SelectCheckbox + label {
    display: none;
}


.Checkbox.AddOfficeCheckbox + label {
    color: black;
    font-size: 16px;
}


@media (max-width: 768px) {
    .CheckContainer.AddOfficeCheckField {
        margin-right: 0;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

/*test*/